@model IEnumerable<ClinicaWeb.Models.Resultado>

@{
    ViewBag.Title = "Index";

    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_LayoutSis.cshtml";
        ViewBag.A03 = "menu-open";
        ViewBag.A3 = "active";
        ViewBag.A3A = "active";
    }
}

<br />
<div class="row">
    <div class="col-md-10">
        <h2>Listado</h2>
    </div>
</div>
<br />
<table  class="table table-bordered table-hover table-head-fixed  table-striped">
    <tr>
        <th>
            Descripción
        </th>
        <th>
           Cantidad
        </th>
        <th>Opciones</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DetalleOrden.Cantidad)
            </td>
            <td>
                <a href="@Url.Action("Edit","Resultadoes",new { id = item.Id })" class="btn btn-info" title="Editar"><i class="fa fa-edit"></i></a> |
                <a href="@Url.Action("Delete","Resultadoes",new { id = item.Id })" class="btn btn-danger" title="Eliminar"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
    }

</table>
