@model ClinicaWeb.Models.Parametro

@{
    ViewBag.Title = "Eliminar Información";
    Layout = "~/Views/Shared/_LayoutSis.cshtml";
    ViewBag.A2 = "active";
    ViewBag.A02 = "menu-open";
    ViewBag.A2AA = "active";
}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-exclamation-triangle"></i>
            Eliminar Parametro
        </h3>
    </div>
    <div class="card-body">
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h5><i class="icon fas fa-ban"></i> Alerta!</h5>
            Usted esta a punto de borrar información importante!
        </div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
               Nombre del Parametro
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nom_Parametro)
            </dd>

            <dt>
               Maximo del Reactivo
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Reactivo.Maximo)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Eliminar Definitivamente" class="btn btn-success" />
        <a href="@Url.Action("Index","parametroes")" class="btn btn-danger">Cancelar</a>
    </div>
        }
    </div>
</div>
