@model IEnumerable<ClinicaWeb.Models.Departamento>

@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_LayoutSis.cshtml";
    ViewBag.A9A = "active";
    ViewBag.A9 = "active";
    ViewBag.A09 = "menu-open";
}

<br />
<div class="row">
    <div class="col-md-10">
        <h2>Listado</h2>
    </div>
</div>
<br />
<p>
    <a class="btn btn-success" href="@Url.Action("Create","Departamentoes")"><i class="fa fa-plus"></i> Agregar Nuevo Departamento</a>
</p>
<table class="table table-bordered table-hover table-head-fixed  table-striped">
    <tr>
        <th>
           Nombre del departamento
        </th>
        <th> Opciones</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_dpto)
            </td>
            <td>
                <a href="@Url.Action("Edit","Departamentoes",new { id = item.Id })" class="btn btn-info" title="Editar Departamento"><i class="fa fa-edit"></i></a> |
                <a href="@Url.Action("Delete","Departamentoes",new { id = item.Id })" class="btn btn-danger" title="Eliminar Departamento"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
    }

</table>
